body{
    background-color: #F8FFF4;
    overflow-y: scroll;
    text-decoration: none;
}

.body-container{
    background-color: #F8FFF4;
}

.header{
    border-bottom: 0.5rem solid #BA1200;
}

#headshot{
    height: 200px;
    width: 258px;
    object-fit: contain;
    border-radius: 50px
}

#name{
    color:#031927;
    font-size: 4rem;
    margin-left : -1rem;
}

.blurb{
    color:#031927;    
}

#github{
    size: 58px;
}

#linked-in {
    size: 58px;
}

.label{
    color: #031927;
   
}
.hover{
    border-bottom: 0.5rem solid #BA1200;
}

#img-row{
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-image {
    height: 128px;
    width: 128px;
}


p {
    color:#031927;
}

h4 {
    color:#031927;
}

.detail-cont{
    width: 100%;
}

a p {
    color: #BA1200;
}

a:hover{
    text-decoration-color: #BA1200;
}

::-webkit-scrollbar{
   display: none;
}
::-webkit-scrollbar-track{
    background:#58665aa4;
}
::-webkit-scrollbar-thumb{
    color:#031927;
}



