body{
    background-image: url("connectwork/connectwork.png");
    background-repeat: repeat;
    overflow-y: scroll;
    text-decoration: none;
}

.body-container{
    height: 100vh;
    overflow-y: scroll;
}

.header{
    border-bottom: 0.5rem solid rgb(112, 22, 12);
}

#name{
    color:rgb(112, 22, 12);
    font-size: 3rem;
    margin-left : -1rem;
}

.blurb{
    color:#e7a11f;    
}

#linked-in {
    size: 58px;
}

.label{
    color: #e7a11f;
   
}

h5{
    color:#e7a11f;
}
.hover{
    border-bottom: 0.5rem solid rgb(112, 22, 12);
}

#img-row{
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-image {
    height: 128px;
    width: 128px;
}


p {
    color:#e7a11f;
}

.detail-cont{
    width: 100%;
}

a p {
    color: #BA1200;
}

a:hover{
    text-decoration-color: #BA1200;
}

::-webkit-scrollbar{
   display: none;
}
::-webkit-scrollbar-track{
    background:#58665aa4;
}
::-webkit-scrollbar-thumb{
    color:#d89632;
}



